@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans serif;
  font-weight: 400;
}

nav {
  background-color: #222222;
  display: flex;
  padding: 38px;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  height: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li {
  color: #fff;
}

.menu {
  display: none;
}

.main {
  background-image: url("./imgs/bg.png");
  width: 1024px;
  height: 512px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.main h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 30px;
}

.main h1 span {
  color: red;
}

.main button {
  background: red;
  color: #fff;
  width: 220px;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 28px;
}

body {
  background: #38454F;
  width: 1024px;
  height: 536px;
  margin: auto;

}

.miolo {
  background:#F3F3F3;
  width: 1024px;
  height: 1631px;
}

.section_product_destac {
  /* margin-top: 78px; */
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
}

.container_banners1 {
  display: flex;
  gap: 30px;
  padding: 30px 68px 129px;
}

.banner-product {
      background: #fff;
      border: none;
      width: 265px;
      height: 322px;
      padding: 30px 68px 129px;  
}

.container_banners {
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
  gap: 100px;
}

.section_product_stars {
  margin-top: 78px;
}

.tittle {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container_banners h3 {
  color: #fff;
}

.container_banners .banner {
  width: 361px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_banners .banner1 {
  background-image: url("./imgs/banner1.png");
}

.container_banners .banner2 {
  background-image: url("./imgs/banner2.png");
}

footer {
  background: #222222;
  width: 1024px;
  height: 216px;
  padding-top: 
}

.direitos_resevados {
  background:#C4C4C4;
  text-align: center;
  width: 1024px;
  height: 25px;
  }

@media (width <= 600px) {
  .menu {
    display: block;
  }

  nav ul {
    display: none;
  }

  .main h1 {
    font-size: 30px;
    padding: 20px;
  }

  .main button {
    width: 180px;
    height: 50px;
    font-size: 20px;
  }
}

@media (width <= 500px) {
  .container_banners .banner {
    /* object-fit: contain; */
    /* background-size: contain; */
    width: 288px;
    height: 108px;
  }
}
